HELIUS_RPC_URL=
SOURCE_TOKEN_MINT=
REWARD_TOKEN_MINT=
TREASURY_WALLET_SECRET=
TREASURY_BASE=SOL
USDC_MINT=EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v
SUPABASE_URL=
SUPABASE_SERVICE_ROLE=
CLAIM_ENABLED=false
AIRDROP_ENABLED=false
BUY_ENABLED=false
MIN_TREASURY_TO_RUN=0.01
MAX_WALLETS_PER_EPOCH=50
ELIGIBILITY_MIN=1000000
DISTRIBUTION_MODE=proportional
SWAP_SLIPPAGE_BPS=300
GAS_BUFFER_SOL=0.125
AIRDROP_BATCH_SIZE=4
AIRDROP_SOL_RESERVE=0.125
MAX_HOLDER_PCT=5
EXCLUDE_WALLETS=
